@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

SHOCK PETS

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$blue_color: #132d50;
$green_color: #0fe185;
$orange_color: #e55610;
$background: #f2f2f2;
$border: #132d50;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
	font-family: 'Geomanist Regular';
	src: url(fonts/Geomanist-Regular.otf);
}

@font-face {
	font-family: 'Geomanist Book';
	src: url(fonts/Geomanist-Book.otf);
}

@font-face {
	font-family: 'Geomanist Bold';
	src: url(fonts/Geomanist-Bold.otf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Geomanist Book';
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Geomanist Book';
}

a {
	color: $blue_color;
	&:hover {
		color: $blue_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top_1 {
	padding: 5px 0;
	background-color: $blue_color;
	.moduletable_t11 {
		font: {
			family: 'Geomanist Regular';
			size: 12px;
		}
		color: #fff;
		letter-spacing: 1px;
		a {
			color: #fff;
		}
		#a {
			span {
				&.orange {
					color: $orange_color;
				}
			}
		}
		#b {}
		#c {
			h3 {
				width: 50%;
				margin: 5px 0;
				font: {
					family: 'Geomanist Regular';
					size: 12px;
				}
				float: left;
				position: relative;
			}
			label {
				display: none;
			}
			input[type=search] {
				width: 120px;
				height: inherit;
				margin: 0;
				padding: 2px;
				background-color: transparent;
				border: 1px solid #fff;
				border-right: 0;
				border-radius: 0;
				font-size: 12px;
				color: #fff;
				float: left;
				position: relative;
			}
			button[type=submit] {
				width: 25px;
				height: 24px;
				background: {
					color: transparent;
					image: url(moduletable_t11_button_bg.png);
					position: center;
					repeat: no-repeat;
				}
				border: 1px solid #fff;
				border-left: 0;
				border-radius: 0;
				color: transparent;
				float: left;
				position: relative;
			}
		}
		#d {}
	}
}

.top {
	position: relative;
	z-index: 10;
	.moduletable_to1 {
		max-height: 60px;
		a {
			padding: 10px;
			display: block;
		}
	}
	.moduletable_to2 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						padding: 0 10px;
						background: {
							image: url(moduletable_to2_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								background-color: $orange_color;
								color: #fff;
							}
						}
						a {
							padding: 5px 10px;
							border: 1px solid transparent;
							font-size: 16px;
							color: $green_color;
							text-transform: uppercase;
							&:hover {
								background-color: $orange_color;
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
}

/* Banner */

.banner {
	margin-top: -60px;
	position: relative;
	z-index: 1;
	.moduletable_ba1 {}
}

/* Content */

.content {
	padding: 20px 0;
	h2 {
		font: {
			family: 'Geomanist Bold';
			size: 20px;
		}
		color: $blue_color;
	}
	a {
		&.button {
			&.petshop,
			&.hairdressing,
			&.veterinary,
			&.laboratory {
				padding: 140px 0 10px 0;
				background: {
					color: transparent;
					position: top;
					repeat: no-repeat;
				}
				color: $primary_color;
				display: block;
			}
			&.petshop {
				background-image: url(icon_petshop_blue.png);
				&:hover {
					background-image: url(icon_petshop_white.png);
				}
			}
			&.hairdressing {
				background-image: url(icon_hairdressing_blue.png);
				&:hover {
					background-image: url(icon_hairdressing_white.png);
				}
			}
			&.veterinary {
				background-image: url(icon_veterinary_blue.png);
				&:hover {
					background-image: url(icon_veterinary_white.png);
				}
			}
			&.laboratory {
				background-image: url(icon_laboratory_blue.png);
				&:hover {
					background-image: url(icon_laboratory_white.png);
				}
			}
		}
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $orange_color;
			border-radius: 0;
		}
	}
	&.full-width {
		.max {
			max-width: 1000px;
			margin: auto;
		}
	}
}

/* Block 1 & Block 2 */

.block_1,
.block_2 {
	padding: 20px 0;
	.moduletable_b11,
	.moduletable_b21 {
		.max {
			max-width: 1000px;
			margin: auto;
		}
		h3 {
			margin-bottom: 0;
			font-size: 24px;
			color: $blue_color;
			text-transform: uppercase;
		}
		.woocommerce {
			ul.products {
				li {
					margin-bottom: 10px;
					a {
						img {
							margin-bottom: 10px;
							border: 1px solid $background;
						}
						h2 {
							padding: 5px 45px 5px 10px;
							background: {
								color: $blue_color;
								image: url(block_1_a_bg.png);
								position: right;
								repeat: no-repeat;
							}
							color: #fff;
							text: {
								align: center;
								transform: uppercase;
							}
							&:hover {
								background-color: $orange_color;
							}
						}
					}
				}
			}
		}
		a {
			&.hollow {
				margin: 10px 0;
				padding: 10px 15px;
				border: 1px solid $border;
				border-radius: 0;
				font-size: 24px;
				color: #000;
			}
			&.product_type_simple {
				display: none;
			}
		}
	}
}

.block_1 {
	background-color: $background;
}

/* Block 3 */

.block_3 {
	padding: 80px 0;
	background: {
		image: url(block_3_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b31 {
		.so-panel {
			margin-bottom: 0 !important;
		}
		#a {
			p {
				margin: 0;
				color: #fff;
				text-align: center;
				&.line_1 {
					font-size: 24px;
					line-height: 24px;
					.green {
						color: $green_color;
					}
				}
				&.line_2 {
					font-size: 48px;
					line-height: 48px;
				}
				&.line_3 {
					font-size: 24px;
				}
			}
		}
		#b {
			.tnp-widget {
				.tnp-field {
					margin: 0;
				}
				.tnp-field-email {
					width: 70%;
					float: left;
					position: relative;
					label {
						display: none;
					}
					input.tnp-email {
						margin: 0;
						background-color: $background;
					}
				}
				.tnp-field-button {
					width: 30%;
					float: left;
					position: relative;
					input.tnp-submit {
						margin: 0;
						background-color: $green_color;
						border: 0;
						border-radius: 0;
					}
				}
			}
		}
	}
}

/* Block 4 */

.block_4 {
	padding: 20px 0;
	.moduletable_b41 {
		.so-panel {
			margin-bottom: 10px !important;
		}
		.line {
			border-right: 1px solid #5b5b5f;
		}
		font-size: 12px;
		strong {
			font-size: 14px;
		}
	}
}

/* Bottom */

.bottom {
	padding: 10px 0;
	background-color: $orange_color;
	.moduletable_bo1 {
		font-size: 20px;
		color: #fff;
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 10px;
	background-color: $orange_color;
	color: #fff;
	a {
		color: #fff;
	}
}

/* Social Media */

.moduletable_sm1 {
	top: 30%;
	left: 0;
	position: fixed;
	z-index: 100;
	a {
		padding: 5px 10px;
		-webkit-border-top-right-radius: 10px;
		-webkit-border-bottom-right-radius: 10px;
		-moz-border-radius-topright: 10px;
		-moz-border-radius-bottomright: 10px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		font-size: 20px;
		display: block;
		&.instagram {
			background-color: $green_color;
		}
		&.facebook {
			background-color: $blue_color;
			color: #fff;
		}
		&.whatsapp {
			background-color: $orange_color;
			color: #fff;
		}
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}